* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 512px;
  min-width: 512px;
}

.square {
  border: solid 1px;
  border-color: lightblue;
  background-color: rgb(255, 190, 101);
  width: 32px;
  height: 32px;
}
