* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  min-width: 800px;
}

.square {
  border: solid 1px;
  border-color: lightblue;
  background-color: rgb(255, 190, 101);
}
button {
  margin-bottom: 15px;
}
